
<div id="languages-chooser-page">
  <table id="languages-chooser-box">
    <tr><td><%= erb :'kata/heading' %></td></tr>
    <tr><td><%= erb :'shared/sub_heading' %></td></tr>
    <tr><td><%= erb :'kata/display_names' %></td></tr>
    <tr><td><%= erb :'kata/ok_button' %></td></tr>
  </table>
<div>
